<ion-content>
    <ion-header>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button color="secondary" defaultHref="map"></ion-back-button>
            </ion-buttons>
            <ion-text color="secondary">
                <ion-title>Login</ion-title>
            </ion-text>
        </ion-toolbar>
    </ion-header>
    <form #form="ngForm" (ngSubmit)="login(form)">
        <ion-grid>
            <ion-row>
                <ion-col size-md="6" size-lg="5" size-xs="12">
                    <div>
                        <ion-item>
                            <ion-input name="email" type="email" placeholder="Email" ngModel required></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-input name="password" type="password" placeholder="Password" ngModel required></ion-input>
                        </ion-item>
                    </div>
                    <br>
                    <div>
                        <ion-button shape="round" color="secondary" type="submit" [disabled]="form.invalid" expand="block">
                            Login
                        </ion-button>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>
